.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 96px !important;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}


.content-app {
    padding-left: 15px;
    padding-right: 10px;
    padding-top: 20px;
}

.column {
    mso-table-lspace: 0pt;
    mso-table-rspace: 0pt;
    font-weight: 400;
    text-align: left;
    vertical-align: top;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 0px;
    border-left: 0px;
}

.spacer_block {
    height: 30px;
    line-height: 30px;
    font-size: 1px;
}

.row {
    mso-table-lspace: 0pt;
    mso-table-rspace: 0pt;
}

.row-content {
    mso-table-lspace: 0pt;
    mso-table-rspace: 0pt;
    color: #000000;
    width: 750px;
    height: 100px;
}

.logo {
    display: block;
    height: auto;
    border: 0;
    width: 150px;
    max-width: 100%;
}

.td-logo {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.column-1 {
    mso-table-lspace: 0pt;
    mso-table-rspace: 0pt;
    font-weight: 400;
    text-align: left;
    vertical-align: top;
    padding-left: 25px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 0px;
    border-left: 0px;
}

.column-2 {
    mso-table-lspace: 0pt;
    mso-table-rspace: 0pt;
    font-weight: 400;
    text-align: left;
    vertical-align: top;
    padding-right: 25px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 0px;
    border-left: 0px;
}

.txtTinyMce-wrapper {
    font-size: 12px;
    font-family: Lato, Tahoma, Verdana, Segoe, sans-serif;
    mso-line-height-alt: 18px;
    color: #052d3d;
    line-height: 1.5;
}

.app-content{
    background: white !important;
    width: 160px;
    text-align: center;
    border: 1px solid #879aa2;
    border-radius: 20px;
    box-shadow: 4px 4px 4px teal;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

app-content:hover {
    color: darkgoldenrod !important;
    background: darkgoldenrod !important;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    grid-auto-rows: minmax(100px, auto);
}