server:
  port: 8888
spring:
  application:
    name: config-server
  cloud:
    config:
      server:
        git:
          uri: ${SPRING_CLOUD_CONFIG_URI:https://github.com/origami-ec/origami-sas-config.git}
          skipSslValidation: true
          default-label: main
          username: origami-ec
          password: ${SPRING_CLOUD_CONFIG_PASSWORD}